### IDE Files ###
.idea
*.iml
.vscode

### src ###
/src
.gitignore
preprocessor.js
README.md
sonatype.sbt
tsconfig.json
tslint.json
!/build/

### NPM files ###
/node_modules
package-lock.json
webworker-promisify-*.tgz
npm-debug.log
